*.dart.js
*.info.json
*.js.deps
*.js.map
*.js_
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/*.local.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/discord.xml
.idea/libraries
.idea/modules
.idea/shelf
.idea/sonarlint
.idea/workspace.xml
.packages
build/
coverage/
node_modules/
